@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: 400;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.woff') format('woff'),
    url('../fonts/roboto-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: 500;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.woff') format('woff'),
    url('../fonts/roboto-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: 700;
}
