@import 'normalize.scss';
@import 'variables.scss';
@import '../fonts/fonts.scss';
@import 'default.scss';

body {
  background: #d6d6d6;
  padding: 63px 33px 60px 34px;
  @media (max-width: 610px) {
    background: #fff;
    padding: 22px 20px;
  }
  @media (max-width: 420px) {
    padding-bottom: 10px;
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 683px;
  margin: 0 auto;
  &_footer {
    margin-top: 30px;
  }
}

.modal-body {
  padding: 10px 41px 30px 37.9px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  @media (max-width: 610px) {
    box-shadow: none;
    padding: 0;
  }

  // .modal-body_header
  &_header {
    display: flex;
    justify-content: space-between;
    @media (max-width: 610px) {
      align-items: center;
    }
  }

  // .modal-body_header-left
  &_header-left {
    margin-top: 26px;
    display: flex;
    align-items: center;
    @media (max-width: 610px) {
      margin-top: 0;
    }
  }

  // .modal-body_content
  &_content {
    margin-top: 30px;
    @media (max-width: 610px) {
      margin-top: 20px;
    }
    @media (max-width: 420px) {
      margin-top: 44px;
    }
  }

  // .modal-body_back-go-btn
  &_back-go-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    display: none;
    @media (max-width: 610px) {
      display: block;
    }
  }

  // .modal-body_close-btn
  &_close-btn {
    margin-right: -31px;
    width: 52px;
    height: 52px;
    background: url('../icons/btn-close.svg') 0 0 no-repeat;
    @media (max-width: 610px) {
      margin-right: 0;
      background: url('../icons/btn-close-mobile.svg') 0 0 no-repeat;
      width: 30px;
      height: 30px;
      margin-top: -15px;
    }
  }
}

.logo {
  &_link {
    display: inline-block;
    text-decoration: none;
  }
}

.content {
  text-align: center;

  // .content_description-wrapper
  &_description-wrapper {
    margin-bottom: 36.5px;
    @media (max-width: 610px) {
      margin-bottom: 25px;
    }
    @media (max-width: 420px) {
      display: flex;
      text-align: left;
      align-items: center;
    }
  }

  // .content_description
  &_description {
    margin-top: 19px;
    @media (max-width: 610px) {
      margin-top: 10px;
    }
  }

  // .content_title
  &_title {
    margin-bottom: 10px;
    font: 30px $rM, sans-serif;
    line-height: 1.17;
    color: #00ba07;
  }

  // .content_id
  &_id {
    font-size: 14px;
  }

  // .content_amount
  &_amount {
    border-top: 1px solid #d9dadc;
    border-bottom: 1px dashed #d9dadc;
    font-size: 67px;
    line-height: 55px;
    color: #292929;
    padding: 24px 18px 18px;
    @media (max-width: 420px) {
      font-size: 53px;
      line-height: 43px;
      padding-bottom: 24px;
    }
    @media (max-width: 610px) {
      font-size: 53px;
      line-height: 43px;
    }
  }

  // .content_amount-type
  &_amount-type {
    font-size: 47px;
    color: #79807f;
    margin-left: -15px;
    @media (max-width: 610px) {
      font-size: 35px;
      margin-left: -10px;
    }
  }

  // .content_info-list
  &_info-list {
    padding: 23px 15px 30px;
    text-align-last: left;
    border-bottom: solid 1px #d9dadc;
    line-height: 1.9px;
    font: 16px $rB, sans-serif;
    @media (max-width: 420px) {
      padding: 24px 13px;
    }
  }

  // .content_info-item
  &_info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 610px) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .content_info-value
  &_info-value {
    color: #292929;
  }

  @media (max-width: 610px) {
    &_title {
      font-size: 25px;
      margin: 0;
    }
    &_id {
      margin-bottom: 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  @media (max-width: 610px) {
    flex-direction: column;
  }

  // .footer_go-back-btn
  &_go-back-btn {
    max-width: 124px;
    border-radius: 5px;
    background: #bfbfbf url('../icons/back-icon.svg') 10px 50% no-repeat;
    border: none;
    font-size: 16px;
    padding: 13px 10px 13px 44px;
    text-transform: uppercase;
    color: #79807f;
    @media (max-width: 610px) {
      display: none;
    }
  }

  // .footer_input
  &_input {
    // При отображении кнопок: max-width: 281px;
    border-radius: 5px;
    border: solid 1px #79807f;
    background: #fff;
    padding: 15px 20px;
    background: #fff;
    font-size: 14px;
    text-align: left;
    color: #79807f;
    flex-grow: 1;
    margin: 0 10px;
    @media (max-width: 610px) {
      // При отображении кнопок: width: 100%;
      display: block;
      margin: 0;
      // При отображении кнопок: max-width: none;
      margin-bottom: 15px;
    }
  }

  // .footer_action-btns
  &_action-btns {
    font-size: 0;
    line-height: 0;
  }
}

.btns {
  // .btns_icon
  max-width: 220px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  display: none;
  @media (max-width: 610px) {
    flex-grow: 1;
    width: auto;
    max-width: none;
  }

  @media (max-width: 420px) {
    flex-direction: column;
  }

  &_icon {
    width: 66px;
    padding: 11px 0;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background: #00b5bc;
    text-align: center;
    cursor: pointer;
    @media (max-width: 610px) {
      flex-grow: 1;
      width: auto;
      padding: 13px 20px;
      display: flex;
      justify-content: space-between;
      span {
        display: inline-block;
      }
      &:nth-child(1) {
        margin-right: 15px;
      }
      &:nth-child(2) {
        max-width: 145px;
      }
      &:nth-child(3) {
        display: none;
      }
    }

    &:nth-child(2) {
      background: #ffb53f;
    }

    &:nth-child(3) {
      background: #79807f;
    }

    @media (max-width: 420px) {
      margin: 0 0 10px 0 !important;
      width: 100%;
      max-width: none !important;
    }
  }

  //.btns_icon-text
  &_icon-text {
    text-transform: uppercase;
    color: #fff;
    font: 16px $rB, sans-serif;
    font-size: 16px;
    display: none;
  }
}
